body {
    font-family: "Avenir Next", Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);

    background: linear-gradient(to right, red, yellow);
}

h1 {
    letter-spacing: 1em;
    font-size: 3.5em;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

h3 {
    color: rgba(0, 0, 0, 0.5);
    letter-spacing: 0.01em;
    text-transform: none;
}